{
  "version": 6,
  "include": ["CMakePresets.json"],
  "configurePresets": [
    {
      "name": "local",
      "inherits": "default",
      "environment": {
        "CMAKE_GENERATOR": "Visual Studio 17 2022",
        "VS_INSTALL_PATH": "C:/Program Files/Microsoft Visual Studio/2022/Community",
        "QT_ROOT_DIR": "C:/Qt/6.8.3/msvc2022_64"
      }
    }
  ]
}
